.fable/
*.fs.js
*.fs.js.map
.fake/
.farmer/
.idea/
.ionide/
.vs/
deploy/
obj/
bin/
output/
packages/
paket-files/
node_modules/
release.cmd
release.sh
*.orig
*.fsproj.user
*.DotSettings.user
/src/Server/Server.fs
/.direnv/flake-inputs/6bf943g0mlhymyffs9dflzgc78r93s60-source/
/.direnv/flake-inputs/xv03bji11jxhfhr7f9xyqqqykzkvn14p-source/
/.direnv/flake-profile-a5d5b61aa8a61b7d9d765e1daf971a9a578f1cfa
/.direnv/flake-profile-a5d5b61aa8a61b7d9d765e1daf971a9a578f1cfa.rc
/src/Client/fable_modules/Fable.Elmish.4.1.0/cmd.fs
/src/Client/fable_modules/Fable.Elmish.4.1.0/cmd.obsolete.fs
/src/Client/fable_modules/Fable.Elmish.4.1.0/Fable.Elmish.fableproj
/src/Client/fable_modules/Fable.Elmish.4.1.0/prelude.fs
/src/Client/fable_modules/Fable.Elmish.4.1.0/program.fs
/src/Client/fable_modules/Fable.Elmish.4.1.0/ring.fs
/src/Client/fable_modules/Fable.Elmish.4.1.0/sub.fs
/src/Client/fable_modules/Fable.Elmish.Debugger.4.0.0/debugger.fs
/src/Client/fable_modules/Fable.Elmish.Debugger.4.0.0/Fable.Elmish.Debugger.fableproj
/src/Client/fable_modules/Fable.Elmish.Debugger.4.0.0/Fable.Import.RemoteDev.fs
/src/Client/fable_modules/Fable.Elmish.HMR.7.0.0/Bundler.fs
/src/Client/fable_modules/Fable.Elmish.HMR.7.0.0/common.fs
/src/Client/fable_modules/Fable.Elmish.HMR.7.0.0/Fable.Elmish.HMR.fableproj
/src/Client/fable_modules/Fable.Elmish.HMR.7.0.0/hmr.fs
/src/Client/fable_modules/Fable.Elmish.HMR.7.0.0/HMR.Parcel.fs
/src/Client/fable_modules/Fable.Elmish.HMR.7.0.0/HMR.Vite.fs
/src/Client/fable_modules/Fable.Elmish.HMR.7.0.0/HMR.Webpack.fs
/src/Client/fable_modules/Fable.Elmish.React.4.0.0/common.fs
/src/Client/fable_modules/Fable.Elmish.React.4.0.0/Fable.Elmish.React.fableproj
/src/Client/fable_modules/Fable.Elmish.React.4.0.0/react.fs
/src/Client/fable_modules/Fable.Elmish.React.4.0.0/react-native.fs
/src/Client/fable_modules/Fable.Parsimmon.4.1.0/Fable.Parsimmon.fableproj
/src/Client/fable_modules/Fable.Parsimmon.4.1.0/Parsimmon.fs
/src/Client/fable_modules/Fable.Parsimmon.4.1.0/Parsimmon.js
/src/Client/fable_modules/Fable.React.Types.18.3.0/Fable.React.Extensions.fs
/src/Client/fable_modules/Fable.React.Types.18.3.0/Fable.React.fs
/src/Client/fable_modules/Fable.React.Types.18.3.0/Fable.React.Hooks.fs
/src/Client/fable_modules/Fable.React.Types.18.3.0/Fable.React.Types.fableproj
/src/Client/fable_modules/Fable.ReactDom.Types.18.2.0/Fable.ReactDom.fs
/src/Client/fable_modules/Fable.ReactDom.Types.18.2.0/Fable.ReactDom.Types.fableproj
/src/Client/fable_modules/Fable.Remoting.Client.7.30.0/Extensions.fs
/src/Client/fable_modules/Fable.Remoting.Client.7.30.0/Fable.Remoting.Client.fableproj
/src/Client/fable_modules/Fable.Remoting.Client.7.30.0/Http.fs
/src/Client/fable_modules/Fable.Remoting.Client.7.30.0/Proxy.fs
/src/Client/fable_modules/Fable.Remoting.Client.7.30.0/Remoting.fs
/src/Client/fable_modules/Fable.Remoting.Client.7.30.0/Types.fs
/src/Client/fable_modules/Fable.Remoting.MsgPack.1.21.0/Fable.Remoting.MsgPack.fableproj
/src/Client/fable_modules/Fable.Remoting.MsgPack.1.21.0/Format.fs
/src/Client/fable_modules/Fable.Remoting.MsgPack.1.21.0/Read.fs
/src/Client/fable_modules/Fable.Remoting.MsgPack.1.21.0/TypeShape.fs
/src/Client/fable_modules/Fable.Remoting.MsgPack.1.21.0/TypeShapeUtils.fs
/src/Client/fable_modules/Fable.Remoting.MsgPack.1.21.0/Write.fs
/src/Client/fable_modules/Fable.SimpleJson.3.24.0/Fable.SimpleJson.fableproj
/src/Client/fable_modules/Fable.SimpleJson.3.24.0/isBrowser.js
/src/Client/fable_modules/Fable.SimpleJson.3.24.0/Json.Converter.fs
/src/Client/fable_modules/Fable.SimpleJson.3.24.0/Json.fs
/src/Client/fable_modules/Fable.SimpleJson.3.24.0/Parser.fs
/src/Client/fable_modules/Fable.SimpleJson.3.24.0/quote.js
/src/Client/fable_modules/Fable.SimpleJson.3.24.0/SimpleJson.fs
/src/Client/fable_modules/Fable.SimpleJson.3.24.0/TypeCheck.fs
/src/Client/fable_modules/Fable.SimpleJson.3.24.0/TypeInfo.Converter.fs
/src/Client/fable_modules/Fable.SimpleJson.3.24.0/TypeInfo.fs
/src/Client/fable_modules/fable-library.4.9.0/lib/big.d.ts
/src/Client/fable_modules/fable-library.4.9.0/lib/big.js
/src/Client/fable_modules/fable-library.4.9.0/Array.d.ts
/src/Client/fable_modules/fable-library.4.9.0/Array.js
/src/Client/fable_modules/fable-library.4.9.0/Async.d.ts
/src/Client/fable_modules/fable-library.4.9.0/Async.js
/src/Client/fable_modules/fable-library.4.9.0/AsyncBuilder.d.ts
/src/Client/fable_modules/fable-library.4.9.0/AsyncBuilder.js
/src/Client/fable_modules/fable-library.4.9.0/BigInt.d.ts
/src/Client/fable_modules/fable-library.4.9.0/BigInt.js
/src/Client/fable_modules/fable-library.4.9.0/BitConverter.d.ts
/src/Client/fable_modules/fable-library.4.9.0/BitConverter.js
/src/Client/fable_modules/fable-library.4.9.0/Boolean.d.ts
/src/Client/fable_modules/fable-library.4.9.0/Boolean.js
/src/Client/fable_modules/fable-library.4.9.0/CHANGELOG.md
/src/Client/fable_modules/fable-library.4.9.0/Char.d.ts
/src/Client/fable_modules/fable-library.4.9.0/Char.js
/src/Client/fable_modules/fable-library.4.9.0/Choice.d.ts
/src/Client/fable_modules/fable-library.4.9.0/Choice.js
/src/Client/fable_modules/fable-library.4.9.0/Date.d.ts
/src/Client/fable_modules/fable-library.4.9.0/Date.js
/src/Client/fable_modules/fable-library.4.9.0/DateOffset.d.ts
/src/Client/fable_modules/fable-library.4.9.0/DateOffset.js
/src/Client/fable_modules/fable-library.4.9.0/DateOnly.d.ts
/src/Client/fable_modules/fable-library.4.9.0/DateOnly.js
/src/Client/fable_modules/fable-library.4.9.0/Decimal.d.ts
/src/Client/fable_modules/fable-library.4.9.0/Decimal.js
/src/Client/fable_modules/fable-library.4.9.0/Double.d.ts
/src/Client/fable_modules/fable-library.4.9.0/Double.js
/src/Client/fable_modules/fable-library.4.9.0/Encoding.d.ts
/src/Client/fable_modules/fable-library.4.9.0/Encoding.js
/src/Client/fable_modules/fable-library.4.9.0/Event.d.ts
/src/Client/fable_modules/fable-library.4.9.0/Event.js
/src/Client/fable_modules/fable-library.4.9.0/FSharp.Collections.d.ts
/src/Client/fable_modules/fable-library.4.9.0/FSharp.Collections.js
/src/Client/fable_modules/fable-library.4.9.0/FSharp.Core.d.ts
/src/Client/fable_modules/fable-library.4.9.0/FSharp.Core.js
/src/Client/fable_modules/fable-library.4.9.0/Global.d.ts
/src/Client/fable_modules/fable-library.4.9.0/Global.js
/src/Client/fable_modules/fable-library.4.9.0/Guid.d.ts
/src/Client/fable_modules/fable-library.4.9.0/Guid.js
/src/Client/fable_modules/fable-library.4.9.0/Int32.d.ts
/src/Client/fable_modules/fable-library.4.9.0/Int32.js
/src/Client/fable_modules/fable-library.4.9.0/List.d.ts
/src/Client/fable_modules/fable-library.4.9.0/List.js
/src/Client/fable_modules/fable-library.4.9.0/Long.d.ts
/src/Client/fable_modules/fable-library.4.9.0/Long.js
/src/Client/fable_modules/fable-library.4.9.0/MailboxProcessor.d.ts
/src/Client/fable_modules/fable-library.4.9.0/MailboxProcessor.js
/src/Client/fable_modules/fable-library.4.9.0/Map.d.ts
/src/Client/fable_modules/fable-library.4.9.0/Map.js
/src/Client/fable_modules/fable-library.4.9.0/MapUtil.d.ts
/src/Client/fable_modules/fable-library.4.9.0/MapUtil.js
/src/Client/fable_modules/fable-library.4.9.0/MutableMap.d.ts
/src/Client/fable_modules/fable-library.4.9.0/MutableMap.js
/src/Client/fable_modules/fable-library.4.9.0/MutableSet.d.ts
/src/Client/fable_modules/fable-library.4.9.0/MutableSet.js
/src/Client/fable_modules/fable-library.4.9.0/Native.d.ts
/src/Client/fable_modules/fable-library.4.9.0/Native.js
/src/Client/fable_modules/fable-library.4.9.0/Numeric.d.ts
/src/Client/fable_modules/fable-library.4.9.0/Numeric.js
/src/Client/fable_modules/fable-library.4.9.0/Observable.d.ts
/src/Client/fable_modules/fable-library.4.9.0/Observable.js
/src/Client/fable_modules/fable-library.4.9.0/Option.d.ts
/src/Client/fable_modules/fable-library.4.9.0/Option.js
/src/Client/fable_modules/fable-library.4.9.0/package.json
/src/Client/fable_modules/fable-library.4.9.0/Random.d.ts
/src/Client/fable_modules/fable-library.4.9.0/Random.js
/src/Client/fable_modules/fable-library.4.9.0/Range.d.ts
/src/Client/fable_modules/fable-library.4.9.0/Range.js
/src/Client/fable_modules/fable-library.4.9.0/README.md
/src/Client/fable_modules/fable-library.4.9.0/Reflection.d.ts
/src/Client/fable_modules/fable-library.4.9.0/Reflection.js
/src/Client/fable_modules/fable-library.4.9.0/RegExp.d.ts
/src/Client/fable_modules/fable-library.4.9.0/RegExp.js
/src/Client/fable_modules/fable-library.4.9.0/Seq.d.ts
/src/Client/fable_modules/fable-library.4.9.0/Seq.js
/src/Client/fable_modules/fable-library.4.9.0/Seq2.d.ts
/src/Client/fable_modules/fable-library.4.9.0/Seq2.js
/src/Client/fable_modules/fable-library.4.9.0/Set.d.ts
/src/Client/fable_modules/fable-library.4.9.0/Set.js
/src/Client/fable_modules/fable-library.4.9.0/String.d.ts
/src/Client/fable_modules/fable-library.4.9.0/String.js
/src/Client/fable_modules/fable-library.4.9.0/System.Collections.Generic.d.ts
/src/Client/fable_modules/fable-library.4.9.0/System.Collections.Generic.js
/src/Client/fable_modules/fable-library.4.9.0/System.Text.d.ts
/src/Client/fable_modules/fable-library.4.9.0/System.Text.js
/src/Client/fable_modules/fable-library.4.9.0/SystemException.d.ts
/src/Client/fable_modules/fable-library.4.9.0/SystemException.js
/src/Client/fable_modules/fable-library.4.9.0/TimeOnly.d.ts
/src/Client/fable_modules/fable-library.4.9.0/TimeOnly.js
/src/Client/fable_modules/fable-library.4.9.0/Timer.d.ts
/src/Client/fable_modules/fable-library.4.9.0/Timer.js
/src/Client/fable_modules/fable-library.4.9.0/TimeSpan.d.ts
/src/Client/fable_modules/fable-library.4.9.0/TimeSpan.js
/src/Client/fable_modules/fable-library.4.9.0/Types.d.ts
/src/Client/fable_modules/fable-library.4.9.0/Types.js
/src/Client/fable_modules/fable-library.4.9.0/Unicode.13.0.0.d.ts
/src/Client/fable_modules/fable-library.4.9.0/Unicode.13.0.0.js
/src/Client/fable_modules/fable-library.4.9.0/Uri.d.ts
/src/Client/fable_modules/fable-library.4.9.0/Uri.js
/src/Client/fable_modules/fable-library.4.9.0/Util.d.ts
/src/Client/fable_modules/fable-library.4.9.0/Util.js
/src/Client/fable_modules/Feliz.2.7.0/BorderStyle.fs
/src/Client/fable_modules/Feliz.2.7.0/Colors.fs
/src/Client/fable_modules/Feliz.2.7.0/Feliz.fableproj
/src/Client/fable_modules/Feliz.2.7.0/Fonts.fs
/src/Client/fable_modules/Feliz.2.7.0/GridTypes.fs
/src/Client/fable_modules/Feliz.2.7.0/Html.fs
/src/Client/fable_modules/Feliz.2.7.0/Interop.fs
/src/Client/fable_modules/Feliz.2.7.0/Key.fs
/src/Client/fable_modules/Feliz.2.7.0/Length.fs
/src/Client/fable_modules/Feliz.2.7.0/Locale.fs
/src/Client/fable_modules/Feliz.2.7.0/Properties.fs
/src/Client/fable_modules/Feliz.2.7.0/React.fs
/src/Client/fable_modules/Feliz.2.7.0/ReactDOM.fs
/src/Client/fable_modules/Feliz.2.7.0/ReactInterop.js
/src/Client/fable_modules/Feliz.2.7.0/ReactTypes.fs
/src/Client/fable_modules/Feliz.2.7.0/Styles.fs
/src/Client/fable_modules/Feliz.2.7.0/StyleTypes.fs
/src/Client/fable_modules/Feliz.2.7.0/Svg.fs
/src/Client/fable_modules/Feliz.2.7.0/TextDecorationLine.fs
/src/Client/fable_modules/Feliz.2.7.0/TextDecorationStyle.fs
/src/Client/fable_modules/Feliz.2.7.0/Transform.fs
/src/Client/fable_modules/Feliz.2.7.0/TransformOrigin.fs
/src/Client/fable_modules/Feliz.2.7.0/TransitionProperty.fs
/src/Client/fable_modules/Feliz.2.7.0/Types.fs
/src/Client/fable_modules/Thoth.Json.10.2.0/Decode.fs
/src/Client/fable_modules/Thoth.Json.10.2.0/Encode.fs
/src/Client/fable_modules/Thoth.Json.10.2.0/Extra.fs
/src/Client/fable_modules/Thoth.Json.10.2.0/package.json
/src/Client/fable_modules/Thoth.Json.10.2.0/Thoth.Json.fableproj
/src/Client/fable_modules/Thoth.Json.10.2.0/Types.fs
/src/Client/fable_modules/project_cracked_debug.json
